<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jessie.dietchartapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DietPlan"></activity>

        <activity android:name=".NormalWeight"></activity>

        <activity android:name=".Obese"></activity>
        <activity android:name=".OverWeight"></activity>
        <activity android:name=".ViewItems"></activity>
        <activity android:name=".fooditemsDisplay"></activity>
        <activity android:name=".chatbot.MainActivity"></activity>
    </application>

</manifest>